<div id="<%= dom_id product %>">
  <p>
    <%= product.title %>
  </p>

  <p>
    <%= product.description %>
  </p>

  <p>
    <h3>Product Images:</h3>
    <% product.images.each do |image| %>
      <%= image_tag image.variant(:thumb), alt: "Product Image" %>
    <% end %>
    <% product.images.each do |image| %>
      <%= image_tag image, alt: "Product Image" %>
    <% end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= product.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Mrp:</strong>
    <%= product.mrp %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= product.rating %>
  </p>

</div>
