<p class="text-green-500 mb-4">
  <%= notice %>
</p>

<div class="mt-6 space-x-4">
  <%= link_to "Edit Product",
              edit_product_path(@product),
              class: "btn-edit" %>
  <%= link_to "Delete Product",
              @product,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" },
              class: "btn-delete" %>
  <%= link_to "â† Back to Products",
              products_path,
              class: "btn-back" %>
</div>
<br>

<div class="bg-white shadow-md rounded-lg p-4 border border-gray-200">
  <%= render @product, class: "animate-fade-in-up" %>
</div>

<br>
