<nav class="flex space-x-8">
  <div class="relative group">
    <button class="text-black hover:text-gray-400">Men</button>
    <div class="absolute left-0 hidden mt-2 space-y-2 bg-white text-black p-4 rounded shadow-md group-hover:block">
      <%= link_to "Men's Apparel", "#" %>
      <%= link_to "Men's Shoes", "#" %>
      <%= link_to "Men's Accessories", "#" %>
    </div>
  </div>
  <div class="relative group">
    <button class="text-black hover:text-gray-400">Women</button>
    <div class="absolute left-0 hidden mt-2 space-y-2 bg-white text-black p-4 rounded shadow-md group-hover:block">
      <%= link_to "Women's Apparel", "#" %>
      <%= link_to "Women's Shoes", "#" %>
      <%= link_to "Women's Accessories", "#" %>
    </div>
  </div>
  <div class="relative group">
    <button class="text-black hover:text-gray-400">Boys</button>
    <div class="absolute left-0 hidden mt-2 space-y-2 bg-white text-black p-4 rounded shadow-md group-hover:block">
      <%= link_to "Boys' Apparel", "#" %>
      <%= link_to "Boys' Shoes", "#" %>
      <%= link_to "Boys' Accessories", "#" %>
    </div>
  </div>
  <div class="relative group">
    <button class="text-black hover:text-gray-400">Girls</button>
    <div class="absolute left-0 hidden mt-2 space-y-2 bg-white text-black p-4 rounded shadow-md group-hover:block">
      <%= link_to "Girls' Apparel", "#" %>
      <%= link_to "Girls' Shoes", "#" %>
      <%= link_to "Girls' Accessories", "#" %>
    </div>
  </div>
  <div class="relative group">
    <button class="text-black hover:text-gray-400">Infant</button>
    <div class="absolute left-0 hidden mt-2 space-y-2 bg-white text-black p-4 rounded shadow-md group-hover:block">
      <%= link_to "Infant's Apparel", "#" %>
      <%= link_to "Infant's Shoes", "#" %>
      <%= link_to "Infant's Accessories", "#" %>
    </div>
  </div>
</nav>